* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #00E6E9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    min-height: calc(100vh - 20px);
    width: calc(100% - 20px);
    background-size: cover;
    background-image: url("assets/stand360-Background.png");
    display: flex;
    justify-content: center;
}

.header {
    position: fixed;
    top: 8vh;
    left: 5vw;
    width: 90vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
}

.header__logo {
    width: 140px;
}

.header__logo img {
    width: 100%;
}

.header__noLogo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__contact__biuro, .header__contact__manager, .header__contact__projektant {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 35px;
}

.header__contact__biuro h4, .header__contact__manager h4, .header__contact__projektant h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7px;
}

.header__contact__biuro a, .header__contact__manager a, .header__contact__projektant a {
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 7px;
    transition: 0.5s;
}

.header__contact__biuro a:hover, .header__contact__manager a:hover, .header__contact__projektant a:hover {
    color: #00E6E9;
}

.header__languageFb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-top: 4px;
}

.header__languageFb__pl, .header__languageFb__en {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.header__languageFb__pl img, .header__languageFb__en img {
    height: 100%;
    width: 100%;
}

.header__languageFb__fb {
    height: 30px;
    width: 20px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__languageFb__fb:hover {
    animation: fb ease-in-out 1s infinite;
}

@keyframes fb {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0);
    }
    35% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0);
    }

}

.header__languageFb__fb img {
    width: 70%;
}

.main {
    margin-left: 5vw;
    width: 80%;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.nav {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.nav__moment {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #111;
    background: #fff;
    padding: 5px 10px;
}

.nav__main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 34px;
    font-weight: 700;
    margin: 15px 0;
}

.buttons__portfolio__mobi {
    display: none;
}

.nav__main a {
    text-decoration: none;
    color: #fff;
}

.nav__second {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}

.nav__second a {
    text-decoration: none;
    color: #fff;
}

.nav__third {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0 0 0;
}

.nav__third a {
    text-decoration: none;
    color: #fff;
}

.nav__main a, .nav__second a, .nav__third a {
    transition: 0.5s;
}

.nav__main a:hover, .nav__second a:hover, .nav__third a:hover {
    color: #00E6E9;
}

.buttons {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.buttons__portfolio, .buttons__katalog, .buttons__regulamin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #00E6E9;
    color: #111111;
    text-decoration: none;
    margin: 8px 0;
    font-size: 12px;
    font-weight: 700;
    transition: 0.5s;
}

.buttons a:hover {
    color: #ffffff;
}

.contact__mobi {
    display: none;
}

@media screen and (max-width: 1240px) {

    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        margin-bottom: 60px;
    }

    .header__contact {
        display: none;
    }

    .nav {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .nav__main, .nav__second, .nav__third {
        justify-content: space-around;
        align-items: center;
    }

    .nav__second {
        margin-bottom: 10px;
    }

    .nav__third {
        font-weight: 300;
    }

    .buttons {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
        flex-direction: row;
        width: 90%;
    }

    .buttons__portfolio {
        display: none;
    }

    .buttons__portfolio__mobi {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        background-color: #00E6E9;
        color: #111111;
        text-decoration: none;
        margin: 20px 0;
        font-size: 14px;
        font-weight: 700;
        transition: 0.5s;
    }

    .buttons__regulamin, .buttons__katalog {
        margin: 10px 20px;
        min-width: 150px;
    }

    .contact__mobi {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        max-width: 480px;
        min-width: 360px;
        margin-bottom: 30px;
    }

    .contact__mobi__biuro, .contact__mobi__manager, .contact__mobi__projektant {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact__mobi__biuro h4, .contact__mobi__manager h4, .contact__mobi__projektant h4 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 7px;
    }

    .contact__mobi__biuro a, .contact__mobi__manager a, .contact__mobi__projektant a {
        font-size: 10px;
        font-weight: 300;
        text-decoration: none;
        color: #ffffff;
        margin-bottom: 7px;
        transition: 0.5s;
    }

    .contact__biuro a:hover, .contact__manager a:hover, .contact__projektant a:hover {
        color: #00E6E9;
    }
}

@media screen and (max-width: 540px) {
    .main {
        margin-bottom: 25px;
    }

    .nav__main a {
        font-size: 22px;
        text-align: center;
    }

    .nav__main .nav__main__produkcja {
        min-width: 241px;
    }

    .nav__second a {
        font-size: 18px;
        text-align: center;
    }

    .nav__third a {
        font-size: 14px;
        text-align: center;
    }

    .contact__mobi__biuro h4, .contact__mobi__manager h4, .contact__mobi__projektant h4 {
        font-size: 10px;
    }

    .contact__mobi {
        min-width: 300px;
    }

    .contact__mobi__biuro a, .contact__mobi__manager a, .contact__mobi__projektant a {
        font-size: 8px;
    }
}